body {
  padding: 20px;
}

.search-form {
  width: 100%;
}

.delete-button {
  background-color: #d65f5f !important;
  color: white !important;
}

.add-button {
  background-color: #89e089 !important;
  color: black !important;
}

.dashboard-cards {
  background-color: #93a1eeb0;
  box-shadow: 0 0 10px #7871bb !important;
  width: 60%;
}
